@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    font-family: "Comfortaa";
    background-color: #2e2e42;
    color: whitesmoke;
    padding: 10px;
}

.title {
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
}

.subtitle {
    font-size: 35px;
    text-align: center;
}

.join-button {
    color: white;
    text-decoration: none;
    text-align: center;
}

.join-div {
    margin-left: auto;
    margin-right: auto;
    background-color: limegreen;
    width: 10%;
    padding: 10px;
    border-radius: 10px;
}

.rules-button {
    color: white;
    text-decoration: none;
    text-align: center;
}

.rules-div {
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    width: 10%;
    padding: 10px;
    border-radius: 10px;
    padding-top: 10px;
}
